In [61]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [62]:
product_name = []
sell_price = []
cost_price = []
quantity = []
image = []
category = []

In [63]:
link = "https://food-to-order.sainsburys.co.uk"
r = requests.get(link)
soup = BeautifulSoup(r.content,"html.parser")

In [64]:
## for category link
cat_link =[]
for i in soup.findAll('a',{'class':"ln-c-navigation__link"},href=True):
    cat_link.append(i['href'])

In [65]:
cat_link.remove("/category/products/home")

In [66]:
cat_link

['/category/allfood',
 '/category/summer',
 '/category/Cake',
 '/category/sharing-buffet',
 '/category/platters-wraps',
 '/category/party-time',
 '/category/desserts',
 '/category/products/salads',
 '/category/products/fruit',
 '/category/products/dinner-party',
 '/category/products/office-lunch',
 '/category/products/veggie-party-food']

In [67]:
## for actuaal data
for i in cat_link:
    url = "https://food-to-order.sainsburys.co.uk"+i
    r = requests.get(url)
    soup = BeautifulSoup(r.content,"html.parser")
    
    name = soup.findAll("span")
    for i in name[45::5]:
        try:
            product_name.append(i.text)
            cate = soup.findAll("h1",{"class":"ln-u-hero"})
            for i in cate:
                category.append(i)
        except:
            product_name.append("NA")
        
    pri = soup.findAll("strong",{"class":"ln-u-display-1"})
    for i in range(len(pri)):
        try:
            sell_price.append(pri[i].text)
        except:
            sell_price.append("NA")
    
    cp = soup.findAll("p")
    for i in range(len(cp[3::4])):
        try:
            x = (cp[3::4][i].text).split(" | ")
            cost_price.append(x[0])
            quantity.append(x[1])
        except:
            cost_price.append("NA")
            quantity.append("NA")
            
    img = soup('img',{"class":"responsive-image"})
    for i in img[0:-1]:
        image.append(i['src'])

In [69]:
len(product_name),len(quantity),len(cost_price),len(sell_price),len(image),len(category)

(365, 365, 365, 365, 365, 365)

In [72]:
data = {"Name":product_name,"Sell_price":sell_price,"cost_price":cost_price,"Quantity":quantity,"Category":category,"Image":image}

In [73]:
file = pd.DataFrame(data)

In [86]:
file.to_csv ('sainsburys.csv', index=None)

In [87]:
file

,Name,Sell_price,cost_price,Quantity,Category,Image
0,Meat Sandwich Platter (20 Quarters),£14.00,£13.33/kg,1.05kg,[All food],//s3-eu-west-1.amazonaws.com/images-olympus/pr...
1,Classic Sandwich Platter (20 Quarters),£14.00,£15.55/kg,0.90kg,[All food],//s3-eu-west-1.amazonaws.com/images-olympus/pr...
2,Meat Wrap Platter (16 Wrap Pieces),£14.00,£14.14/kg,0.99kg,[All food],//s3-eu-west-1.amazonaws.com/images-olympus/pr...
3,Vegetarian Sandwich Platter (20 Quarters),£14.00,£13.33/KG,1.05KG,[All food],//s3-eu-west-1.amazonaws.com/images-olympus/pr...
4,Fish Sandwich Platter (20 Quarters),£14.00,£12.28/kg,1.14kg,[All food],//s3-eu-west-1.amazonaws.com/images-olympus/pr...
...,...,...,...,...,...,...
360,Mini Tart Selection (24 Tarts),£15.00,£20.16/kg,0.74kg,[Veggie party food],//s3-eu-west-1.amazonaws.com/images-olympus/pr...
361,Cheese Bites Platter,£11.00,£24.44/kg,0.45kg,[Veggie party food],//s3-eu-west-1.amazonaws.com/images-olympus/pr...
362,New York Vanilla Cheesecake,£6.00,£6/kg,1.00kg,[Veggie party food],//s3-eu-west-1.amazonaws.com/images-olympus/pr...
363,Belgian Chocolate Profiterole Stack (30 pieces),£7.00,£11.67/kg,0.60kg,[Veggie party food],//s3-eu-west-1.amazonaws.com/images-olympus/pr...
364,White chocolate & berry cheesecake,£6.00,£6.32/Kg,0.95Kg,[Veggie party food],//s3-eu-west-1.amazonaws.com/images-olympus/pr...